@import url('reset.css');
html, body {
	margin:0;
	padding:0;
    height:100%;	
}
body{
	padding:10px;
    padding-bottom:10%;   /* Height of the footer */
}
#container {
	min-height:100%;
	margin: auto;
	width: 739px;
}
#left-third{
	background:url(images/leftthird.jpg)no-repeat;
	float: left;
	width:29%;
	height:90%;

}
#right-section{
	background:url(images/rightthirds.jpg)no-repeat;
	float: left;
	width: 69%;
	height:90%;

}
#top{
	background:url(images/topfull.jpg)no-repeat;
	width:100%;
	height: 56px;

	
}
